#body{
    background-image: url(canva.png);
}

.goodbar{
    background-color: hsl(156, 15%, 62%);
}
#butt{
    background-color: hsl(158, 17%, 55%);
}
li #logout:hover{
background-color: rgb(253, 0, 0);
}

#dropelements:hover{
    background-color: hsl(156, 15%, 62%);
}
#img{
    padding-right: 5px;
    
}
#logininputparent{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
}



#logininput{
    padding: 35px;
   background-color:hsl(156, 15%, 62%) ;
   border-radius: 15px;
  
}
#notesparent{
    display: flex;
    align-items: center;
    justify-content: center;
min-height: 850px;
}

#notes{
    margin: 25px;
   flex-grow: 1;
   max-width: 800px;
   

}

#notesparent2{
    display: flex;
    align-items: center;
    justify-content: center;
min-height: 0px;
}

#notes2{
    margin: 25px;
    margin-top: 0px;
   flex-grow: 1;
   max-width: 800px;
   

}


#notesparent3{
    display: flex;
    align-items: center;
    justify-content: center;
min-height: 850px;
}

#notes3{
    margin: 25px;
   flex-grow: 1;
   max-width: 800px;
   

}

#logininputparen1t{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    min-width: 700px;
}
 
#logininput1{
    
   background-color:hsl(156, 15%, 62%) ;
   border-radius: 15px;
   min-width: 700px;

}

#inputparent{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 645px;
    
    }
    #input{
        background-color:hsl(156, 15%, 62%) ;
        border-radius: 15px;
        width: 500px;
        padding: 40px;
    }

    #subb{
        background-color: hsl(158, 39%, 76%);
        margin-top: 15px;
    }

    #inptxt{
        color: black;
       font-size: 125%;
       font-weight: 470;
    
    }

    #para1{
    
        background-color:hsl(156, 15%, 62%) ;
        border-radius: 15px;
        min-width: 700px;
        padding: 10px;
        margin: 100px;
     
     }
     
     #homeparent{
        display: flex;
    align-items: center;
    justify-content: center;
    min-height: 645px;
     }

     #home{
        
        border-radius: 15px;
        width: 500px;
        padding: 40px;
     }
     #h33{
        font-size: 25px;
        padding: 15px;
        color: hsl(156, 15%, 62%);
     }
     #submit-btn{
        margin-left: 0px;
        margin-top: 15px;
     }